@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope/Manrope-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

* {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: 500;*/
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@font-face {
    font-family: "ManropeExtraBold";
    src: url("/fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}
