.font-exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* prevents flash of hidden elements while unocss is loading up */
.hidden {
    display: none;
}
